@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border dark:border-border-dark;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.dark .inner-container {
    background: radial-gradient(circle at top right, #170838, #04020c);
}

.inner-container {
    background: radial-gradient(circle at top right, #c5c5c5, #ffffff);
}

.dark .robot-bg {
    background: radial-gradient(circle at top right, #1079b4, #4b1d5e);
    border-radius: 30px;
}

.robot-bg {
    background: radial-gradient(circle at top right, #00c1ff, #4b1d5e);
    border-radius: 30px;
}

@layer components {
    .btn-primary {
        @apply bg-primary text-primary-foreground;
    }

    .btn-secondary {
        @apply bg-secondary text-secondary-foreground;
    }
}

.pad-outro-gif-container {
    position: absolute;
    z-index: 100;
    height: 100%;
    perspective: 1000px;
}

.pad-outro-gif {
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(342deg) rotateX(5deg) rotateZ(4.8deg);
    left: -3px;
    transform-origin: top left;
    scale: 0.75;
}

.robot-frame {
    z-index: 200;
}

@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-title-line {
    opacity: 0;
    animation: slideInFromBottom 0.3s ease-out forwards; /* Increased duration by 50% */
}

.hero-title-line:nth-child(1) {
    animation-delay: 0.075s; /* Increased delay by 50% */
}

.hero-title-line:nth-child(2) {
    animation-delay: 0.15s; /* Increased delay by 50% */
}

.hero-title-line:nth-child(3) {
    animation-delay: 0.225s; /* Increased delay by 50% */
}

.hero-title-line:nth-child(4) {
    animation-delay: 0.3s; /* Increased delay by 50% */
}

a {
    @apply text-perplexity-helper-primary;
}

button a {
    color: inherit;
}

.dark button a:hover {
    color: inherit;
}

.dark a:hover {
    color: white;
    transition: color 0.3s ease;
}

a:hover {
    color: #1079b4;
    transition: color 0.3s ease;
}
